*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
}

.elem{
    height: 120px;
    width: 100%;
    border-bottom: 2px solid #fff;
    display: flex;
    align-items: center;
    cursor: none;
}

.elem h1{
    font-size: 6vw;
    z-index: 2;
}

.elem img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position:absolute;
    transform: translate(-50%,-50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity linear 0.2s;
    mix-blend-mode: difference;
}